@{
    ViewData["Title"] = "Add User To Role";
}

<h1>Add User to a Role</h1>

<div class="row">
    <div class="col-auto">
        <form asp-action="AddUserToRole" method="post">
            <div class="form-group">
                <label class="control-label">Role:</label>
                <select name="role" class="form-control" asp-items="ViewBag.Roles"></select>
            </div>
            <div class="form-group">
                <label class="control-label">User:</label>
                <select name="user" class="form-control" asp-items="ViewBag.Users"></select>
            </div>
            <input type="submit" value="Create" class="btn btn-info btn-sm rounded-0 my-3 text-light" />
        </form>
        </div>
    </div>
