@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


@{
    ViewData["Title"] = "Index";
}



    <h1>Roles</h1>

    <a asp-action="Create">Create role</a>
    ||
    <a asp-action="AddUserToRole">Add user to role</a>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>