@model IEnumerable<LexiconMVC_ViewModels.Models.Language>

@{
    ViewData["Title"] = "Languages";
}

<h1>Language</h1>

<p>
    <a class="btn btn-info btn-sm rounded-0 my-3" asp-action="Create">Add new language</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.LanguageName
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.LanguageId" title="Delete" class="btn btn-danger btn-sm rounded-0"> <i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>